/* ----------------------------------------------------------- */
/* Общие стили для всех страниц*/
/* ----------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.body-container {
  margin: 0 auto;
  padding-top: 0px;

  width: 1200px;

  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ----------------------------------------------------------- */
/* Логотип и навигация */
/* ----------------------------------------------------------- */
.header-nav {
  background-color: #ffffff;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding-right: 72px;
  padding-left: 72px;

  list-style: none;
}

.header-nav-item {
  width: 239px;
  height: 56px;
  padding: 15px 0;
}

.header-nav-item:nth-child(1),
.header-nav-item:nth-child(2) {
  text-align: left;
}

.header-nav-item:nth-child(3),
.header-nav-item:nth-child(4) {
  text-align: right;
}

.header-nav-link {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #81b3d2;
    outline: none;
}

.header-nav-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-nav-link.current,
.header-nav-link.current:hover,
.header-nav-link.current:active {
  color: #766357;
}

/* Логотип для INDEX.HTML */
.header-logo-index {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

/* Логотип для остальных страниц */
.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
  outline: none;
}

.header-logo:active {
  opacity: 0.5;
}


/* ----------------------------------------------------------- */
/* "Подвал" */
/* ----------------------------------------------------------- */
.footer-container {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: space-between;
  align-content: space-between;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-left: 132px;
}

.footer-hashtag {
  margin: 0;
  padding-top: 36px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-phone {
  padding-bottom: 32px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #81b3d2;
  outline: none;
}

.footer-phone:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-icon-block {
  display: flex;
  align-items: center;
  margin: auto;
}

.footer-icon-social {
  display: flex;
  margin: 3px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  align-content: center;
  justify-content: center;
}

.footer-icon-social:hover,
.footer-icon-social:focus {
  background-color: #669ec0;
  outline: none;
}

.footer-icon-social:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-by {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* Текст разработчика */
.footer-by-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

/* Лого разработчика */
.footer-by-logo {
  fill: #000000
}

.footer-by-logo:hover,
.footer-by-logo:focus {
  fill: #81b3d2;
  outline: none;
}

.footer-by-logo:active {
  fill: #bdbbbc;
}


/* ----------------------------------------------------------- */
/* Страница INDEX.HTML */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Блок 1: Приветствие */
/* ----------------------------------------------------------- */
.welcome-container {
  background-color: #ffffff;
}

.welcome-banner {
  position: relative;

  display: flex;

  background-color: #81b3d2;
  background-image:
    url("../img/welcome/intro-mask.svg"),
    url("../img/background/background-photo.jpg");
  background-size: 1200px 59px, 1200px 773px;
  background-position: left 0 bottom -2px, 0 -20px;
  background-repeat: no-repeat;
}

.welcome-banner img {
  margin-top: 132px;
  margin-right: auto;
  margin-bottom: 79px;
  margin-left: auto;
}

.welcome-block {
  display: flex;
  flex-direction: column;
  min-height: 219px;
  padding-top: 61px;
  padding-bottom: 51px;
  justify-content: space-around;
}

.welcome-block h2 {
  align-self: center;
  width: 440px;
  height: 48px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.welcome-block p {
  line-height: 26px;
  text-align: center;
  color: #333333;
}


/* ----------------------------------------------------------- */
/* Блок 2: Причины-преимущества */
/* ----------------------------------------------------------- */
.reason-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.reason-item {
  width: 400px;
  min-height: 256px;

  text-align: center;
}

.reason-item h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reason-item-first {
  display: flex;
}

.reason-item-second {
  display: flex;
  flex-direction: row-reverse;
}

.reason-item-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-others-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.reason-item-grey {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 63px;
}

.reason-item-grey p {
  color: #333333;
}


.reason-feature-list{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.reason-feature-item {
  width: 400px;
  min-height: 330px;

  text-align: center;
}

.reason-feature-item h3 {
  margin: 0 auto;
  padding-top: 164px;

  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

.reason-feature-item p {
  margin: 0 auto;
  padding-top: 28px;
  text-align: center;
  color: #333333;
}

.reason-feature-item p:nth-child(1) {
  width: 252px;
}

.reason-feature-item p:nth-child(2) {
  width: 285px;
}

.reason-feature-item p:nth-child(3) {
  width: 273px;
}

.reason-housing-icon {
  background-image: url("../img/icons/housing.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.reason-food-icon {
  background-image: url("../img/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center 62px;
}

.reason-gift-icon {
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-position: center 64px;
}


/* ----------------------------------------------------------- */
/* Блок 3: Поиск гостиницы */
/* ----------------------------------------------------------- */
/* Предусловия формы поиска */
.search-preconditions {
  width: 1200px;
  height: 290px;

  text-align: center;

  background-color: #ffffff;
}

.search-preconditions h2 {
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 50px;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

.search-preconditions p {
  margin-top: 0;
  margin-bottom: 47px;

  line-height: 24px;
  text-align: center;
  color: #333333;
}

/* Кнопка отображения формы поиска */
.search-form-display {
  width: 568px;
  height: 86px;
  margin-bottom: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
  border: none;
  cursor: pointer;
}

.search-form-display:hover,
.search-form-display:focus {
  background-color: #604e43;
  outline: none;
}

.search-form-display:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* Форма поиска */
.search-form-container {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 55px;

  width: 568px;
  height: 395px;

  background-color: #ffffff;
}

/* Контейнер полей ввода */
.search-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs-date:nth-child(2) {
  padding-top: 15px;
}

/* Контейнер указания даты */
.inputs-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

/* Контейнер полей указания количества взрослых и детей */
.inputs-people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

/* Контейнер метки и изменения количества гостей */
.inputs-people-label-and-count {
  display: flex;
  width: 226px;
  justify-content: space-between;
  align-items: center;
}

/* Контейнер изменения количеста гостей */
.inputs-people-count {
  display: flex;
}

/* Заголовки полей ввода */
.search-form-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

/* Поля ввода даты завезда/выезда */
.search-form-input-date {
  width: 346px;
  height: 38px;

  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  padding-left: 12px;

  background-color: #f2f2f2;
  border: none;
}

.search-form-input-date:hover {
  background-color: #ebebeb;
  outline: none;
}

.search-form-input-date:focus,
.search-form-input-date:active {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.search-form-input-date::placeholder {
  color: #000000;
  text-transform: uppercase;
}

/* Поля ввода количества гостей */
.search-form-input-people {
  width: 38px;
  height: 38px;

  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.search-form-input-people:hover {
  background-color: #ebebeb;
  outline: none;
}

.search-form-input-people:focus,
.search-form-input-people:active {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.search-form-input-people::placeholder {
  color: #000000;
  text-align: center;
}

.search-form-label.children {
  padding-left: 53px;
}

/* Иконка календаря */
.search-button-calendar {
  width: 22px;
  height: 21px;

  fill: #cacaca;
  border: none;

  cursor: pointer;
}

.search-button-calendar:hover,
.search-button-calendar:focus {
  fill: #000000;
  outline: none;
}

.search-button-calendar:active {
  fill: #81b3d2;
}

/* Иконка плюса */
.search-button-plus {
  width: 38px;
  height: 38px;

  fill: #cacaca;
  border: none;

  cursor: pointer;
}

.search-button-plus:hover,
.search-button-plus:focus {
  fill: #000000;
  outline: none;
}

.search-button-plus:active {
  fill: #81b3d2;
}

/* Иконка минуса */
.search-button-minus {
  width: 38px;
  height: 38px;

  fill: #cacaca;
  border: none;

  cursor: pointer;
}

.search-button-minus:hover,
.search-button-minus:focus {
  fill: #000000;
  outline: none;
}

.search-button-minus:active {
  fill: #81b3d2;
}


/* Кнопка выполнения поиска гостиницы */
.search-button {
  width: 458px;
  height: 58px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* ----------------------------------------------------------- */
/* Блок 4: Карта */
/* ----------------------------------------------------------- */
.map-container {
  display: flex;
  background-color: #eeeeee;
}

.map-link {
  position: relative;
  width: 1200px;
  height: 594px;
}

.map-frame {
  position: relative;
  width: 1200px;
  height: 594px;
}


/* ----------------------------------------------------------- */
/* Страница HOTELS.HTML */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Блок 1: Параметры фильтрации гостиниц */
/* ----------------------------------------------------------- */
.filter-container {
  display: flex;
  justify-content: space-between;
  min-height: 217px;

  padding-left: 72px;
  padding-right: 72px;

  background-color: #669ec0;
  background-image: url("../img/background/background-filter.jpg");
  background-repeat: no-repeat;

  background-size: 1200px 773px;
  background-position: 0 -300px;
  background-repeat: no-repeat;
}

.fieldset-parameters {
  margin-top: 31px;
  border: none;
  margin-right: 115px;
}

.filter-parameters {
  display: flex;
}

.fieldset-price {
  margin-top: 31px;
  border: none;
}

.filter-legend {

  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.filter-list {
  padding: 0;

  text-align: left;
  color: #ffffff;

  list-style-type: none;
}

.filter-price {
  width: 314px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs-price {
  display: flex;
  justify-content: space-between;
  align-self: center;

  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 30px;
  margin-bottom: 22px;

  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 2px;
}

.filter-input {
  width: 50px;
  margin: 0;
  margin-left: 3px;

  color: #ffffff;

  background: none;
  border: none;
}

.filter-input:focus,
.filter-input:active {
  border-bottom: solid 1px #ffffff;
  border-radius: 1px;
  outline: none;
}

.filter-input:hover {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.inputs-price label {
  padding-left: 65px;
  cursor: pointer;
}

.inputs-price label {
  text-align: center;
  color: #ffffff;
}

/* Кнопка отображение результатов по цене */
.filter-button {
  width: 133px;
  height: 32px;
  align-self: center;

  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:active  {
  color: #000000;

  border: solid 2px #ffffff;
  background-color: #ffffff;
  outline: none;
}

/* Слайдер с друмя точками */
/* .cost-range-slider {
} */
/* Заканчиваются стили слайдера */


/* ----------------------------------------------------------- */
/* Блок 2: Блок управления результатами фильтрации */
/* ----------------------------------------------------------- */
.hotel-result {
  display: flex;
  align-items: center;
  min-height: 86px;
  margin: auto;
  width: 1200px;
  background-color: #ffffff;
}

.hotel-result-count {
  padding-left: 72px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.hotel-result-sort {
  padding-left: 49px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.hotel-result-link {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.hotel-result-link:hover,
.hotel-result-link:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  outline: none;
}

.hotel-result-link:active {
  color: #000000;
  border-bottom: none;
}

.hotel-result-link.current {
  color: #81b3d2;
  border-bottom: none;
}

.hotel-result-link.left {
  margin-left: 33px;
}


/* ----------------------------------------------------------- */
/* Блок 3: Результаты фильтрации гостиниц */
/* ----------------------------------------------------------- */
.hotel-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  border-bottom: solid  1px #E6E6E6;

  list-style-type: none;
}

.hotel-item {
  display: flex;
  align-items: center;

  min-height: 151px;
  padding-left: 72px;

  background-color: #ffffff;
  border-top: solid  1px #E6E6E6;
}

.hotel-item-info {
  padding-left: 31px;
}

.hotel-item-container {
  display: flex;
}

.hotel-list p {
  margin: 0;
  padding: 0;

  text-align: left;
  color: #333333;
}

.hotel-list .type {
  width: 110px;
  height: 27px;
}

.hotel-list .price {
  width: 142px;
  height: 27px;
  padding-left: 6px;
}

.hotel-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
  outline: none;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Запрос подробностей о гостинице */
.hotel-details {
  width: 110px;
  height: 27px;

  font-weight: bold;
  /* если не будет способа сместить текст на центр, сохранив выравнивание по центру из макета, то придется обернуть <a> в <div>/<span>, перевесить класс на него, выделив часть правил в новое: ".hotel-details a {}"*/
  text-align: left;
  text-decoration: none;
  color: #ffffff;

  background-color: #81b3d2;
}

.hotel-details:hover,
.hotel-details:focus {
  background-color: #669ec0;
  outline: none;
}

.hotel-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Резервирование гостиницы */
.hotel-reservation {
  width: 142px;
  height: 27px;
  margin-left: 6px;

  font-weight: bold;
  /* если не будет способа сместить текст на центр, сохранив выравнивание по центру из макета, то придется обернуть <a> в <div>/<span>, перевесить класс на него, выделив часть правил в новое: ".hotel-reservation a {}"*/
  text-align: left;
  text-decoration: none;
  color: #ffffff;

  background-color: #766357;
}

.hotel-reservation:hover,
.hotel-reservation:focus {
  background-color: #604e43;
  outline: none;
}

.hotel-reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* использовать для оформления звезд */
/* .hotel-stars {
} */

.hotel-ratio {
  margin-left: 522px;
  width: 110px;
  height: 27px;

  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}
