html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo-index {
  position: absolute;
  top: 0;
  left: 529px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 529px;
}

/* Не нашел, как должен вести себя логотип при выделении/клике. Пока сделал так */
.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
  outline: none;
}

.header-logo:active {
  opacity: 0.5;
}

/* Навигация */
.header-nav {
  position: relative;
  margin: auto;
  width: 1200px;
  background-color: #ffffff;
}

.header-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav-item {
  width: 239px;
  height: 56px;
  margin: auto;
  text-align: center;
}

.header-nav-link {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #81b3d2;
    outline: none;
}

.header-nav-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-nav-link.current,
.header-nav-link.current:hover,
.header-nav-link.current:active {
  color: #766357;
}

/* Приветствие */
.welcome-banner {
  margin: auto;
  padding: 0;
  width: 1200px;

  background-color: #81b3d2;
  background-image:
    url("../img/welcome/intro-mask.svg"),
    url("../img/background/background-photo.jpg");
  background-size: 1200px 59px, 1200px 773px;
  background-position: bottom center, top center;
  background-repeat: no-repeat;
}

.welcome-img-center {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.welcome-block {
  margin: auto;
  width: 1200px;
  height: 216px;

  background-color: #ffffff;
}

.welcome-block h2 {
  margin: auto;
  width: 440px;
  height: 48px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.welcome-block p {
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Причины */
.reason-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
  padding: 0;

  list-style: none;
}

.reason-item {
  text-align: center;
}

.reason-item h2 {
  margin: 0;
  /* временно */
  padding-top: 50px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reason-item-blue {
  width: 400px;
  height: 256px;

  color: #ffffff;
  background-color: #81b3d2;
}

.reason-item-container {
  display: flex;
}

.reason-item-grey {
  display: inline-block;
  width: 400px;
  height: 256px;
  color: #000000;
  background-color: #eeeeee;
}

.reason-item-grey p {
  color: #333333;
}

.reason-picture-right {
  margin-right: 0;
}

.reason-picture-left {
  margin-left: 0;
}

/* Доп. преимущества причин */
.reason-feature-list{
  display: flex;
  padding: 0;

  list-style: none;
}

.reason-feature-item {
  width: 400px;

  background-color: #ffffff;
}

.reason-feature-item h3 {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

.reason-feature-item p {
  text-align: center;
  color: #333333;
}

.srt1 {
  margin-left: 73px;
}

.reason-housing-icon {
  background-image: url("../img/icons/housing.svg");
  background-repeat: no-repeat;
}

.reason-food-icon {
  background-image: url("../img/icons/food.svg");
  background-repeat: no-repeat;
}

.reason-gift-icon {
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
}


/* .search-container {
} */

/* Предусловия формы поиска */
.search-preconditions {
  margin: auto;

  width: 1200px;
  height: 290px;

  text-align: center;
  background-color: #ffffff;
}

.search-preconditions h2 {
  /* временно */
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 50px;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

.search-preconditions p {
  /* временно */
  margin-top: 0;
  margin-bottom: 47px;

  line-height: 24px;
  text-align: center;
  color: #333333;
}

/* Кнопка отображения формы поиска */
.search-form-display {
  width: 568px;
  height: 86px;
  margin-bottom: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.search-form-display:hover,
.search-form-display:focus {
  background-color: #604e43;
  outline: none;
}

.search-form-display:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* Форма поиска */
.search-form-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);

  width: 568px;
  height: 395px;

  background-color: #ffffff;
}

/* Текст заголовков формы поиска */
.search-form-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

/* Поля ввода даты завезда/выезда */
.search-form-date {
  width: 346px;
  height: 38px;

  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.search-form-date:hover,
.search-form-date:focus {
  background-color: #ebebeb;
  outline: none;
}

.search-form-date:active {
  background-color: #ffffff
}

.search-form-date::placeholder {
  color: #000000;
  text-transform: uppercase;
}

/* Поля ввода количества гостей */
.search-form-guests {
  width: 38px;
  height: 38px;
  padding: 0;

  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.search-form-guests:hover,
.search-form-guests:focus {
  background-color: #ebebeb;
  outline: none;
}

.search-form-guests:active {
  background-color: #ffffff
}

.search-form-guests::placeholder {
  color: #000000;
  text-align: center;
}

/* возможно позже объединить в один класс */
.search-form-arrival {
  margin: auto;
  align-self: auto;
}

.search-form-departure {
  margin: auto;
  align-self: auto;
}

.search-form-people {
  margin: auto;
  align-self: auto;
}

.search-form-children {
  display: flex;
  margin: auto;
  align-items: center;
}

.search-form-adults {
  display: flex;
  margin: auto;
  align-items: center;
}

/* Иконка календаря */
.search-button-calendar {
  width: 22px;
  height: 21px;

  fill: #cacaca;
}

.search-button-calendar {
  fill: #cacaca;

  border: none;
}

.search-button-calendar:hover,
.search-button-calendar:focus {
  fill: #000000;
  outline: none;
}

.search-button-calendar:active {
  fill: #81b3d2;
}

/* Иконка плюса */
.search-button-plus {
  margin: 0;
  padding: 0;

  width: 38px;
  height: 38px;

  fill: #cacaca;
  border: none;
}

.search-button-plus:hover,
.search-button-plus:focus {
  fill: #000000;
  outline: none;
}

.search-button-plus:active {
  fill: #81b3d2;
}

/* Иконка минуса */
.search-button-minus {
  width: 38px;
  height: 38px;

  fill: #cacaca;
  border: none;
}

.search-button-minus:hover,
.search-button-minus:focus {
  fill: #000000;
  outline: none;
}

.search-button-minus:active {
  fill: #81b3d2;
}

/* Кнопка поиска гостиницы */
.search-button {
  width: 458px;
  height: 58px;

  margin-left: auto;
  margin-right: auto;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Карта */
.map {
  display: flex;
  margin: auto;

  background-color: #eeeeee;
}

/* .map-picture {
  display: flex;
  margin: auto;
} */


.filter-container {
  display: flex;
  width: 1200px;
  min-height: 217px;
  margin: auto;
  background-color: #669ec0;
  background-image: url("../img/background/background-filter.jpg");
  background-repeat: no-repeat;

  background-size: 1200px 773px;
  background-position: center;
  background-repeat: no-repeat;
}

.filter-container fieldset {
  display: flex;
  margin: auto;
  margin-left: 72px;

  border: none;
}

/* .filter-price {
  display: flex;
  width: 314px;
  height: 32px;
} */


.filter-price-from {
  display: inline-block;
  align-content: flex-end;
  width: 157px;
  height: 32px;
  border-top: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border-radius: 2px;
}


.filter-price-to {
  display: inline-block;
  width: 157px;
  height: 32px;
  border-top: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  border-radius: 2px;
}

.filter-price-value {
  width: 50px;
  margin: 0;
}

.filter-legend {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.filter-legend-label {
  font-size: 16px;
  color: #ffffff;
}

.filter-input {
  height: 32px;

  font-size: 14px;
  text-align: center;
  color: #ffffff;

  border: none;
  background-color: transparent;
}

.filter-input::placeholder {
  color: #ffffff;
}

.filter-list {
  padding: 0;
  list-style-type: none;
}

.filter-list label {
  text-align: left;
  color: #ffffff;
}

.filter-button {
  width: 133px;
  height: 32px;

  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {

  color: #000000;

  border: solid 2px #ffffff;
  background-color: #ffffff;
  outline: none;
}

/* Слайдер с друмя точками */

/* .cost-range-slider {

} */

/* Заканчиваются стили слайдера */

.hotel-result {
  display: flex;
  align-items: center;
  min-height: 86px;
  margin: auto;
  width: 1200px;
  background-color: #ffffff;
}

.hotel-result-count {
  padding-left: 72px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.hotel-result-sort {
  padding-left: 49px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.hotel-result-link {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.hotel-result-link:hover,
.hotel-result-link:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  outline: none;
}

.hotel-result-link:active {
  color: #000000;
  border-bottom: none;
}

.hotel-result-link.current {
  color: #81b3d2;
  border-bottom: none;
}

.hotel-result-link.left {
  margin-left: 33px;
}

/* Гостиницы */
.hotel-list {
  width: 1200px;
  margin: auto;
  padding: 0;
  border-bottom: solid  1px #E6E6E6;
  list-style-type: none;
}

.hotel-item {
  display: flex;
  align-items: center;

  min-height: 151px;
  padding-left: 72px;

  background-color: #ffffff;
  border-top: solid  1px #E6E6E6;
}

.hotel-item-info {
  padding-left: 31px;
}

.hotel-item-container {
  display: flex;
}

.hotel-list p {
  margin: 0;
  padding: 0;

  text-align: left;
  color: #333333;
}

.hotel-list .type {
  width: 110px;
  height: 27px;
}

.hotel-list .price {
  width: 142px;
  height: 27px;
  padding-left: 6px;
}

.hotel-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
  outline: none;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Запрос подробностей о гостинице */
.hotel-details {
  width: 110px;
  height: 27px;

  font-weight: bold;
  /* если не будет способа сместить текст на центр, сохранив выравнивание по центру из макета, то придется обернуть <a> в <div>/<span>, перевесить класс на него, выделив часть правил в новое: ".hotel-details a {}"*/
  text-align: left;
  text-decoration: none;
  color: #ffffff;

  background-color: #81b3d2;
}

.hotel-details:hover,
.hotel-details:focus {
  background-color: #669ec0;
  outline: none;
}

.hotel-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Резервирование гостиницы */
.hotel-reservation {
  width: 142px;
  height: 27px;
  margin-left: 6px;

  font-weight: bold;
  /* если не будет способа сместить текст на центр, сохранив выравнивание по центру из макета, то придется обернуть <a> в <div>/<span>, перевесить класс на него, выделив часть правил в новое: ".hotel-reservation a {}"*/
  text-align: left;
  text-decoration: none;
  color: #ffffff;

  background-color: #766357;
}

.hotel-reservation:hover,
.hotel-reservation:focus {
  background-color: #604e43;
  outline: none;
}

.hotel-reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* использовать для оформления звезд */
/* .hotel-stars {

} */

.hotel-ratio {
  margin-left: 522px;
  width: 110px;
  height: 27px;

  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}


/* Подвал */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 1200px;
  height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-contact {
  margin-left: 132px;
}

/* Хэштег */

.footer-hashtag {
  /* margin: 36px 0 0 0; */
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-phone {
  /* margin: 0 0 32px 0; */
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

/* Не нашел, как должен вести себя телефон при выделении/клике. Пока сделал по аналогии с названием-ссылкой гостиницы */
.footer-phone:hover,
.footer-phone:focus {
  color: #81b3d2;
  outline: none;
}

.footer-phone:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Блок иконок соц. сетей */
.footer-icon-block {
  display: flex;
  align-items: center;
  margin: auto;
}

/* Иконки соц. сетей */
.footer-icon-social {
  display: inline-flex;
  margin: 3px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  align-items: center;
  justify-content: center;
}

.footer-icon-social:hover,
.footer-icon-social:focus {
  background-color: #669ec0;
  outline: none;
}

.footer-icon-social:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-by {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* Текст разработчика */
.footer-by-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

/* Лого разработчика */
.footer-by-logo {
  fill: #000000
}

.footer-by-logo:hover,
.footer-by-logo:focus {
  fill: #81b3d2;
  outline: none;
}

.footer-by-logo:active {
  fill: #bdbbbc;
}
