/* ----------------------------------------------------------- */
/* Общие стили для всех страниц*/
/* ----------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.body-container {
  margin: 0 auto;
  padding-top: 0px;

  width: 1200px;

  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------------------------- */
/* Логотип и навигация */
/* ----------------------------------------------------------- */
.header-nav {
  background-color: #ffffff;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding-right: 72px;
  padding-left: 72px;

  list-style: none;
}

.header-nav-item {
  width: 239px;
  height: 56px;
  padding: 15px 0;
}

.header-nav-list li:nth-child(4n+1),
.header-nav-list li:nth-child(4n+2) {
  text-align: left;
}

.header-nav-list li:nth-child(4n+3),
.header-nav-list li:nth-child(4n+4) {
  text-align: right;
}

.header-nav-list li:nth-child(4n+2) {
  margin-right: auto;
}

.header-nav-list li:nth-child(4n+3) {
  margin-right: 3px;
}


.header-nav-link {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #81b3d2;
    outline: none;
}

.header-nav-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-nav-link.current,
.header-nav-link.current:hover,
.header-nav-link.current:active {
  color: #766357;
}

/* Логотип для INDEX.HTML */
.header-logo-index {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 20;
}

/* Логотип для остальных страниц */
.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 20;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
  outline: none;
}

.header-logo:active {
  opacity: 0.5;
}


/* ----------------------------------------------------------- */
/* "Подвал" */
/* ----------------------------------------------------------- */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 30px;
  padding-bottom: 32px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-position {
  position: relative;
  margin-top: -120px;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding-left: 125px;
}

.footer-hashtag {
  margin: 0;
  padding-bottom: 6px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-phone {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #81b3d2;
  outline: none;
}

.footer-phone:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.footer-icon-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 3px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-icon-social:hover,
.footer-icon-social:focus {
  background-color: #669ec0;
  outline: none;
}

.footer-icon-social:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-by {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
}

/* Текст разработчика */
.footer-by-text {
  padding-right: 8px;

  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

/* Лого разработчика */
.footer-by-logo {
  padding-top: 7px;
}

.footer-by-logo path {
  fill: #000000
}

.footer-by-logo path:hover,
.footer-by-logo path:focus {
  fill: #81b3d2;
}

.footer-by-logo path:active {
  fill: #bdbbbc;
}


/* ----------------------------------------------------------- */
/* Страница INDEX.HTML */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Блок 1: Приветствие */
/* ----------------------------------------------------------- */
.welcome-container {
  background-color: #ffffff;
}

.welcome-banner {
  display: flex;
  flex-wrap: wrap;
  background-color: #81b3d2;
  background-image:
    url("../img/welcome/intro-mask.svg"),
    url("../img/background/background-photo.jpg");
  background-size: 1200px 59px, 1200px 773px;
  background-position: left 0 bottom -2px, 0 -56px;
  background-repeat: no-repeat;
}

.welcome-banner img {
  margin-top: 76px;
  margin-right: auto;
  margin-bottom: 79px;
  margin-left: auto;
}

.welcome-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 216px;

  padding-top: 42px;
}

.welcome-block h2 {
  margin-left: auto;
  margin-right: auto;

  width: 440px;
  min-height: 48px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.welcome-block p {
  line-height: 26px;
  text-align: center;
  color: #333333;
}


/* ----------------------------------------------------------- */
/* Блок 2: Причины-преимущества */
/* ----------------------------------------------------------- */
.reason-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.reason-item {
  width: 400px;
  min-height: 256px;

  text-align: center;
}

.reason-item h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reason-item-first {
  display: flex;
  flex-wrap: wrap;
}

.reason-item-second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.reason-item-blue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 46px;
  padding-bottom: 60px;

  color: #ffffff;
  background-color: #81b3d2;
}

.reason-item-blue h2 {
  margin: 0 auto;
  text-align: center;
  width: 151px;
}

.reason-item-first p {
  margin: 0 auto;
  text-align: center;
  width: 290px;
}

.reason-item-second p {
  margin: 0 auto;
  text-align: center;
  width: 303px;
}

.reason-others-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.reason-item-grey {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  z-index: 20;

  padding-top: 46px;
  padding-bottom: 60px;

  background-color: #eeeeee;
}

.reason-item-grey h2 {
  margin: 0 auto;
  text-align: center;
  width: 151px;
}

.reason-item-grey p {
  margin: 0 auto;
  text-align: center;
  width: 261px;

  color: #333333;
}

.reason-item-grey:nth-child(3n) p {
  width: 256px;
}

.reason-feature-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.reason-feature-item {
  width: 400px;
  min-height: 330px;
  padding-top: 160px;
  padding-right: 55px;
  padding-bottom: 80px;
  padding-left: 55px;

  text-align: center;
}

.reason-feature-item h3 {
  margin: 0 auto;

  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

.reason-feature-item p {
  margin-top: 25px;
  margin-bottom: 0;
  text-align: center;
  color: #333333;
}

.reason-feature-item p:nth-child(3n + 1) {
  width: 252px;
}

.reason-feature-item p:nth-child(3n + 2) {
  width: 285px;
}

.reason-feature-item p:nth-child(3n + 3) {
  width: 273px;
}

.reason-housing-icon {
  background-image: url("../img/icons/housing.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.reason-food-icon {
  background-image: url("../img/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center 62px;
}

.reason-gift-icon {
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-position: center 58px;
}


/* ----------------------------------------------------------- */
/* Блок 3: Поиск гостиницы */
/* ----------------------------------------------------------- */
/* Предусловия формы поиска */
.search-preconditions {
  position: relative;
  width: 100%;
  min-height: 290px;
  z-index: 10;

  text-align: center;

  background-color: #ffffff;
}

.search-preconditions h2 {
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 50px;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

.search-preconditions p {
  margin-top: 0;
  margin-bottom: 47px;

  line-height: 24px;
  text-align: center;
  color: #333333;
}

/* Кнопка отображения формы поиска */
.search-form-display {
  width: 568px;
  min-height: 86px;
  margin-bottom: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
  border: none;
  cursor: pointer;
}

.search-form-display:hover,
.search-form-display:focus {
  background-color: #604e43;
  outline: none;
}

.search-form-display:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* Форма поиска */
.search-form-container {
  position: absolute;

  left: 50%;
  margin-left: -284px;
  z-index: 5;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  padding: 55px;

  width: 568px;
  min-height: 395px;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.search-form-container-open {
  animation-name: open-search-form;
  animation-duration: 1s;
}

/* Анимация для отображения формы поиска*/
@keyframes open-search-form {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Контейнер полей ввода */
.search-form-inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Контейнер указания даты */
.inputs-date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

/* Контейнер полей указания количества взрослых и детей */
.inputs-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* Контейнер метки и изменения количества гостей */
.inputs-people-label-and-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 226px;
}

/* Контейнер изменения количеста гостей */
.inputs-people-count {
  display: flex;
  flex-wrap: wrap;
}

/* Заголовки полей ввода */
.search-form-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

/* Поля ввода даты завезда/выезда */
.search-form-input-date {
  width: 346px;
  height: 38px;

  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  padding-left: 12px;

  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
}

.search-form-input-date:hover {
  background-color: #ebebeb;
  border: solid 2px #ebebeb;
  outline: none;
}

.search-form-input-date:focus,
.search-form-input-date:active {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.search-form-input-date::placeholder {
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}

.search-form-input-date:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}

/* Поля ввода количества гостей */
.search-form-input-people {
  width: 38px;
  height: 38px;

  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
}

.search-form-input-people:hover {
  background-color: #ebebeb;
  border: solid 2px #ebebeb;
  outline: none;
}

.search-form-input-people:focus,
.search-form-input-people:active {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.search-form-input-people::placeholder {
  color: #000000;
  text-align: center;
}

.children {
  width: 179px;
}

/* Иконка календаря */
.search-button-calendar {
  fill: #cacaca;
  background: transparent;
  border: none;

  cursor: pointer;
}

.search-button-calendar-arrival {
  position: absolute;
  top: 63px;
  right: 58px;
}

.search-button-calendar-departure {
  position: absolute;
  top: 130px;
  right: 58px;
}

.search-button-calendar:hover,
.search-button-calendar:focus {
  fill: #000000;
  outline: none;
}

.search-button-calendar:active {
  fill: #81b3d2;
}

/* Кнопки "Минус"/"Плюс" */
.search-button-operation {
  position: relative;
  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;

  cursor: pointer;
}

.search-button-operation:hover,
.search-button-operation:focus {
  background-color: #ebebeb;
  border: solid 2px #ebebeb;
  outline: none;
}

.search-button-operation:active {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.operation-minus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  left: 11px;
  top: 16px;

  background-color: #aaaaab;
}

.operation-plus::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  left: 11px;
  top: 16px;

  background-color: #aaaaab;
}

.operation-plus::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  left: 11px;
  top: 16px;

  background-color: #aaaaab;
  transform: rotate(90deg);
}

.operation-minus:hover::before,
.operation-minus:focus::before,
.operation-plus:hover::before,
.operation-plus:focus::before,
.operation-plus:focus::after,
.operation-plus:hover::after {
  background-color: #000000;
  outline: none;
}

.operation-minus:active::before,
.operation-plus:active::before,
.operation-plus:active::after {
  background-color: #81b3d2;
}

/* Кнопка выполнения поиска гостиницы */
.search-button {
  width: 458px;
  min-height: 58px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}


/* ----------------------------------------------------------- */
/* Блок 4: Карта */
/* ----------------------------------------------------------- */
.map-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.map-frame {
  position: relative;
  width: 1200px;
  height: 594px;
}


/* ----------------------------------------------------------- */
/* Страница HOTELS.HTML */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Блок 1: Параметры фильтрации гостиниц */
/* ----------------------------------------------------------- */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 217px;

  padding-top: 27px;
  padding-left: 71px;
  padding-right: 74px;
  padding-bottom: 30px;

  background-color: #669ec0;
  background-image: url("../img/background/background-filter.jpg");

  background-size: 1200px 562px;
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

/* Фильтры-чекбоксы */
.fieldset-parameters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  width: 249px;
  padding: 0;
  border: none;
}

.filter-parameters {
  display: flex;
  flex-wrap: wrap;
  min-height: 135px;
}

.filter-legend {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.filter-list {
  position: relative;
  margin: 0;
  padding: 0;

  text-align: left;
  color: #ffffff;

  list-style-type: none;
}

.filter-list li {
  padding-left: 40px;
  margin-top: 25px;
}

.filter-list label {
  padding-bottom: 8px;
  cursor: pointer;
}

.filter-checkbox::before {
  content: "";
  position: absolute;
  left: -1px;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: 23px 23px;
}

.filter-list input:checked + .filter-checkbox::before {
  content: "";
  position: absolute;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: 27px 23px;
}

.filter-list input:disabled + .filter-checkbox::before {
  content: "";
  position: absolute;
  left: -1px;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off-disabled.svg);
  background-repeat: no-repeat;
  background-size: 23px 23px;
}

.filter-list input:checked:disabled + .filter-checkbox::before {
  content: "";
  position: absolute;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on-disabled.svg);
  background-repeat: no-repeat;
  background-size: 27px 23px;
}

.filter-list input:hover + .filter-checkbox::before,
.filter-list input:focus + .filter-checkbox::before {
  outline: none;
  padding-bottom: 25px;
  border-bottom: 1px solid #f2f2f2;
}

/* Ценовой фильтр */
.fieldset-price {
  width: 318px;
  padding: 0;
  margin: 0;
  border: none;
}

.filter-price-legend {
  margin-bottom: 11px;
}

.filter-price {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding: 5px 0px;

  border: 2px solid #f2f2f2;
  border-radius: 2px;

  cursor: pointer;
}

.filter-price::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 157px;
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.filter-price-input {
  width: 50px;
  margin: 0;

  color: #ffffff;

  background: transparent;
  border: none;
}

.filter-price-input:hover,
.filter-price-input:focus,
.filter-price-input:active {
  border-bottom: solid 1px #ffffff;
  border-radius: 1px;
  outline: none;
}

.filter-price-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.filter-price-input-to,
.filter-price-input-from {
  width: 90px;
  padding-left: 65px;
  color: #ffffff;
}

.filter-price-input-from {
  padding-right: 7px;
}


.filter-price-range {
  position: relative;
  margin-bottom: 32px;
}

.price-range-bar-transparent {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.price-range-bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.price-range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.price-range-toggle:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #acadad;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.price-range-toggle:hover {
  top: -10px;
  transform: translateX(-1px);
  height: 22px;
  width: 22px;
  outline: none;
}

/* Кнопка отображение результатов по цене */
.filter-button {
  width: 137px;
  height: 36px;

  margin-left: 85px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active  {
  color: #000000;

  border: solid 2px #ffffff;
  background-color: #ffffff;
  outline: none;
}


/* ----------------------------------------------------------- */
/* Блок 2: Блок управления результатами фильтрации */
/* ----------------------------------------------------------- */
.hotel-result {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-left: 72px;
  padding-right: 73px;
  min-height: 86px;
  background-color: #ffffff;
}

.hotel-result::after{
  content: '';
  min-height: inherit;
  font-size: 0;
}

.hotel-result-count {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.hotel-result-sort {
  padding-top: 1px;
  margin-left: 49px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.hotel-result-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 700px;
  list-style-type: none;
}

.hotel-result-link {
  margin-right: 28px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.hotel-result-link:hover,
.hotel-result-link:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  outline: none;
}

.hotel-result-link:active {
  color: #000000;
  border-bottom: none;
}

.hotel-result-link.current {
  color: #81b3d2;
  border-bottom: none;
}

.hotel-result-sort-range {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.hotel-result-asc {
  text-decoration: none;
  margin-left: auto;
  padding-right: 12px;
  fill: #cacaca;
}

.hotel-result-desc {
  fill: #cacaca;
}

.hotel-result-desc:hover,
.hotel-result-asc:hover,
.hotel-result-desc:focus,
.hotel-result-asc:focus {
  fill: #1e191a;
  outline: none;
}

.hotel-result-desc:active,
.hotel-result-asc:active,
.hotel-result-desc.current {
  fill: #81b3d2;
}


/* ----------------------------------------------------------- */
/* Блок 3: Результаты фильтрации гостиниц */
/* ----------------------------------------------------------- */
.hotel-list {
  display: flex;

  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  border-bottom: solid  1px #E6E6E6;

  list-style-type: none;
}

.hotel-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 30px;

  padding-left: 72px;
  padding-right: 73px;

  background-color: #ffffff;
  border-top: solid  1px #E6E6E6;
}

.hotel-item img {
  margin-top: 6px;
  width: 135px;
  height: 90px;
}

.hotel-item-info {
  display: flex;
  flex-direction: column;
  width: 750px;
  justify-content: space-between;
  padding-left: 31px;
}

.hotel-item-container {
  display: flex;
  flex-wrap: wrap;
}

.hotel-list p {
  margin: 8px 0;
  text-align: left;
  color: #333333;
}

.hotel-list .type {
  width: 110px;
  margin-right: 6px;
}

.hotel-list .price {
  width: 142px;

}

.hotel-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
  outline: none;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Запрос подробностей о гостинице */
.hotel-details {
  width: 110px;
  min-height: 27px;
  margin-top: 7px;
  margin-right: 6px;
  padding: 3px 0px;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  background-color: #81b3d2;
}

.hotel-details:hover,
.hotel-details:focus {
  background-color: #669ec0;
  outline: none;
}

.hotel-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Резервирование гостиницы */
.hotel-reservation {
  width: 142px;
  min-height: 27px;
  margin-top: 7px;
  margin-right: 6px;
  padding: 3px 0px;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  background-color: #766357;
}

.hotel-reservation:hover,
.hotel-reservation:focus {
  background-color: #604e43;
  outline: none;
}

.hotel-reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}


/* Рейтинг и оценка */
.hotel-item-ratio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  margin-top: 5px;
  margin-left: auto;
}

.hotel-stars {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.hotel-stars li {
  margin-left: 6px;
}

.hotel-ratio {
  min-width: 110px;
  min-height: 27px;
  margin-top: 5px;
  padding-top: 3px;

  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}
